html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
}

body {
    font-family: -apple-system, "Helvetica Neue", Helvetica, sans-serif;
    background: #5f6e77e7;
}

.Choice{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.but > div{
    
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}
.but{
    position: absolute;
    margin-top: 10vh;
    position: relative;
    display: flex;
    flex-direction: row;
    height: max-content;
    width: max-content;
}
.Continue{
    margin: 0px 0px;
}

h1{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}