#camera_place{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: left;
}
#control{
    height: 100vh;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    border-right: 1px solid black;
}
#place{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 100%;
    overflow-x: auto;
}

#place > *{
    margin-left: 10px;
    margin-right: 10px;
}

#snapshot{
    height: 300px;
    width: 400px;
}

.choice_snapshot{
    width: 800px !important;
    height: 600px !important;
}

#list_camera{
    display: flex;
    flex-direction: column;
    font-size: 16px;
}
#list_camera > * {
    padding: 4px;
    border-bottom: 0.5px solid black;
}

#list_camera > *:hover {
    background-color:rgb(200, 200, 200);
    cursor: pointer;
}