#camera_place{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: left;
}
#control{
    height: 100vh;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    border-right: 1px solid black;
}
#place{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 100%;
}

#place > *{
    margin-left: 10px;
    margin-right: 10px;
}

#snapshot{
    height: 60vh;
    width: 40vw;
}
