#camera_place{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: left;
}
#control_camera{
    height: 100vh;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    border-right: 1px solid black;
}
#place_cam_snap{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 100%;
    overflow-x: auto;
}

#place_cam_snap > *{
    margin-left: 10px;
    margin-right: 10px;
}

#snapshot{
    height: 300px;
    width: 400px;
}

.choice_snapshot{
    width: 800px !important;
    height: 600px !important;
}

#list_camera{
    display: flex;
    flex-direction: column;
    font-size: 16px;
}
#list_camera > * {
    width: 100%;
    padding: 4px 0px 4px 0px;
    border-bottom: 0.5px solid black;
    word-wrap: break-word;
    text-align: center;
}

#list_camera > *:hover {
    background-color:rgb(200, 200, 200);
    cursor: pointer;
}

#control_camera h3{
    border-bottom: 2px solid black;
    background: black;
    color: white;
    font-size: 16px;
    padding: 4px;
  }