.left_switch{
    /* background: rgb(65, 65, 65); */
}

#navbar a{
    /* background-color: #181818cb; */
    margin-bottom: 5px;
}

body {
    font-family: -apple-system, "Helvetica Neue", Helvetica, sans-serif;
    /* background-color: #5f6e77e7; */
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#panel_WP{
    /* background-color: rgb(180, 180, 180); */
}

.just_button{
    /* background-color: rgb(180, 180, 180); */
    border: 0px;
    cursor: pointer;
}

.DD{
    /* background-color: rgb(180, 180, 180); */
    margin: 20px 0px;
    position: relative;
    height: max-content;
    width: max-content;
    border-color: black !important;
    border-radius: 5px !important;
    font-size: 20px;
}