#place_1D {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

#left_tab_panel_1D {
  height: 100%;
  background: rgb(65, 65, 65);
}

.button_tab_1D {
  position: relative;
  width: 50px;
  height: 50px;
  top: 5px;
  background: none;
  border: none;
  font-size: 20px;
  text-align: center;
  color: gray;
  outline: none;
}

.button_tab_1D:hover {
  color: black !important;
  cursor: pointer;
}

.button_active_1D{
  color: white !important;
}

#work_panel_1D {
  height: 100vh;
}

/* Graph panel */
#sum_graph{
  height: 100vh;
  display: flex;
  flex-direction: row;
}

/*Контрольная панель  */
#control_panel {
  height: 100vh;
  width: 150px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid black;
}

#control_panel>* {
  margin-bottom: 5px;
}

#control_panel h3 {
  background-color: rgb(26, 26, 26);
  color: white;
}

.hidden_menu{
  display: flex;
  flex-direction: column;
}
.hidden_menu >* {
  margin-bottom: 5px;
}

/*Основная панель */

#view_panel {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

#graph{
    margin-left: -20vw;
}
/*  */
#coorPanel {
  height: 90vh;
  width: 180px;
  margin: -4px 0px 0px 10px;
  overflow: auto;
  border: 1px solid black;
  background-color: rgb(200, 200, 200)
}

#CPButtom {
  position: relative;
  width: 100%;
  height: 30px;
}

.coor_element {
  display: inline-block;
  border-bottom: 0.5px solid black;
  width: 100%;
}

/* list_graph */
#list_graph{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;

}
#list_file{
  height: 100vh;
  width: 200px;
  background:gray;
  border-right: 1px solid black;
  display: flex;
  flex-direction: column;
  font-size: 16px;
}
#list_file > * {
  border: 0.5px solid black;
}
#list_file > *:hover {
  background-color:rgb(200, 200, 200);
  cursor: pointer;
  
}
#view_panel_file{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: auto;
}


/* #apply_Coor,
  #return_Coor {
    position: relative;
    height: 100%;
    font-size: 16px;
    background-color: rgb(220, 220, 220);
    border: none;
    outline: none;
  } */

/* #apply_Coor {
    margin-left: 5px;
  }
  
  #apply_Coor:hover {
    background-color: rgb(200, 200, 200)
  }
  
  #return_Coor:hover {
    background-color: rgb(200, 200, 200)
  } */


/* .y_input {
    width: 50px;
    background-color: rgb(220, 220, 220);
    color: black;
    border: none;
    font-size: 15px;
  } */